.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-list__item:not(:last-child) {
    margin-right: 50px;
}

.contact-list__mail-tel {
    @include font(500, null, 1.14, 0.02);
    color: $gray-color;

    margin-left: auto;
    display: flex;
    align-items: center;
}

.contact-list__icon {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}