.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__item_modify {
    position: relative;
}

.nav__link {
    @include font(500, null, 1.14, 0.02);
    color: $first-color;
    text-decoration: none;
    fill: $gray-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $accent-color;
    }
}

.nav__link_modify {
    color: $accent-color;

    &::after {
        position: absolute;
        margin-top: 28px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
    }
}
.nav__link_padding {
    padding: 32px 0;
}