.subscribe {
    margin-left: 93px;
}

.subscribe__email {
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    @include font(null, 16, 1.25, null);
    color: $white-color;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: $accent-color;
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscribe__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 10px;
}